<ng4-loading-spinner [threshold]="2" [timeout]="400000"> </ng4-loading-spinner>
<div class="login-div" fxLayout="row" fxLayoutAlign="center center" style="height: 100vh;">
  <mat-card class="login-card" fxFlex="30" fxFlex.xs="70">
    <div fxLayout="column" fxLayoutAlign="center center">
      <div style="font-weight: 600;font-size: 25px; text-align: center;padding-top: 20px;padding-bottom: 20px">Tracker
        Login</div>
      <!-- <div class="avatar-div" fxLayoutAlign="center center">
        <img class="avatar" src="../../../assets/XMLID_1201_.svg" alt="">
      </div> -->
      <div class="form-div">
        <mat-form-field appearance="outline" class="form-field">
          <mat-label>Email</mat-label>
          <input matInput placeholder="Enter your email" autocomplete="off" [formControl]="email">
          <mat-error *ngIf="email.invalid">{{getEmailErrorMessage()}}</mat-error>
        </mat-form-field>
      </div>
      <div class="form-div">
        <mat-form-field appearance="outline" class="form-field">
          <mat-label>Password</mat-label>
          <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'" autocomplete="off"
            [formControl]="password">
          <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          <mat-error *ngIf="password.invalid">{{getPasswordErrorMessage()}}</mat-error>

        </mat-form-field>
      </div>
      <div class="button-div">
        <button mat-button (click)="login()">Login</button>
        <!-- <button mat-button>Register</button> -->
      </div>
      <!-- <button mat-button>Twitter Login</button> -->
    </div>

  </mat-card>
</div>
